.gradle
.idea
build
chromedriver.exe
C:\Users\ib\Documents\TP1\src\main\java\test.java
C:\Users\ib\Documents\TP1\src\main\java\BackMarket.java
C:\Users\ib\Documents\TP1\src\main\java\BackMarketTest.java
/src/main/java/IpsearchResultPage.java
/src/main/java/BackMarket.java
/src/test/java/BackMarketTest.java
/src/main/java/IpageProduct.java
